<div class="box">
    <h2>Confirm Deleting Ad?</h2>
    <div>
        <h1>{{adData.title}}</h1>
        <div><strong>Date:</strong> {{adData.date | date:'dd-MMM-yyyy'}}</div>
        <br>
        <div ng-if='adData.imageDataUrl'>
            <strong>Image:</strong>
            <img class="ad-image" ng-src="{{adData.imageDataUrl}}" />
        </div>
        <br>
        <div><strong>Text:</strong> {{adData.text}}</div>
        <div class="box"><strong>Category:</strong> {{adData.categoryName || 'No category'}}</span>
        </div>
        <div class="box"><strong>Town:</strong> {{adData.townName || 'No town'}}</div>
    </div>

    <p>
        <a ng-click="deleteAd(adData)" class="button">Delete</a>
        <a href="#/user/ads" class="button">Cancel</a>
        <p>
</div>
