<div class="box">
    <h2>Ads</h2>
    <ul class="sidebar-menu">
        <li class="special"
            ng-class="{'selected' : selectedAdStatus == null}"
            ng-click="adStatusClicked(null)">
            <a href="#/admin/home">All</a>
        </li>
        <li ng-click="adStatusClicked('Published')"
            ng-class="{'selected' : selectedAdStatus == 'Published'}">
            <a href="#/admin/home">Published</a>
        </li>
        <li ng-click="adStatusClicked('WaitingApproval')"
            ng-class="{'selected' : selectedAdStatus == 'WaitingApproval'}">
            <a href="#/admin/home">Waiting Approval</a>
        </li>
        <li ng-click="adStatusClicked('Inactive')"
            ng-class="{'selected' : selectedAdStatus == 'Inactive'}">
            <a href="#/admin/home">Inactive</a>
        </li>
        <li ng-click="adStatusClicked('Rejected')"
            ng-class="{'selected' : selectedAdStatus == 'Rejected'}">
            <a href="#/admin/home">Rejected</a>
        </li>
    </ul>
</div>

<ul class="ads">
    <li ng-repeat="ad in ads.ads" class="box">
        <h1>{{ad.title}}</h1>
        <div><strong>Date:</strong> {{ad.date | date:'dd-MMM-yyyy'}}</div>
        <br>
        <div ng-if='ad.imageDataUrl'>
            <img class="ad-image" ng-src="{{ad.imageDataUrl}}" />
        </div>
        <br>
        <div><strong>Text:</strong> {{ad.text}}</div>
        <div><strong>Username:</strong> {{ad.ownerUsername}}</div>
        <div><strong>Name:</strong> {{ad.ownerName}}</div>
        <div><strong>Email:</strong> {{ad.ownerEmail}}</div>
        <div><strong>Tel:</strong> {{ad.ownerPhone}}</div>
        <div><strong>Category:</strong> {{ad.categoryName || 'No chosen category'}}</div>
        <div><strong>Town:</strong> {{ad.townName || 'No chosen town'}}</div>
        <div class="box"><strong>Status:</strong> {{ad.status}}</div>

        <p ng-if="ad.status === 'Published' || ad.status === 'Inactive'">
            <a ng-click="deactivateAd(ad.id)" class="button">Edit</a>
            <a href="#/admin/home" ng-click="deleteAd(ad.id)" class="button">Delete</a>
        <p>
        <p ng-if="ad.status === 'Rejected'">
            <a href="#/admin/home" ng-click="approveAd(ad.id)" class="button">Approve</a>
            <a ng-click="deactivateAd(ad.id)" class="button">Edit</a>
            <a href="#/admin/home" ng-click="deleteAd(ad.id)" class="button">Delete</a>
        <p>
        <div ng-if="ad.status === 'WaitingApproval'">
            <a href="#/admin/home" ng-click="approveAd(ad.id)" class="button">Approve</a>
            <a href="#/admin/home" ng-click="rejectAd(ad.id)" class="button">Reject</a>
            <a ng-click="publishAgainAd(ad.id)" class="button">Edit</a>
            <a href="#/admin/home" ng-click="deleteAd(ad.id)" class="button">Delete</a>
        </div>
    </li>
</ul>

<pagination total-items="ads.numItems" ng-model="adsParams.startPage"
  items-per-page="adsParams.pageSize" ng-change="getAllAds()"
  max-size="9" boundary-links="true">
</pagination>

<div ng-if="ads.ads.length==0" class="box no-data">
    No ads found.
</div>