<div class="box">
    <h2>Ads</h2>
    <ul class="sidebar-menu">
        <li class="special"
            ng-class="{'selected' : selectedAdStatus == null}"
            ng-click="adStatusClicked(null)">
            <a href="#/user/ads">All</a>
        </li>
        <li ng-click="adStatusClicked('Published')"
            ng-class="{'selected' : selectedAdStatus == 'Published'}">
            <a href="#/user/ads">Published</a>
        </li>
        <li ng-click="adStatusClicked('WaitingApproval')"
            ng-class="{'selected' : selectedAdStatus == 'WaitingApproval'}">
            <a href="#/user/ads">Waiting Approval</a>
        </li>
        <li ng-click="adStatusClicked('Inactive')"
            ng-class="{'selected' : selectedAdStatus == 'Inactive'}">
            <a href="#/user/ads">Inactive</a>
        </li>
        <li ng-click="adStatusClicked('Rejected')"
            ng-class="{'selected' : selectedAdStatus == 'Rejected'}">
            <a href="#/user/ads">Rejected</a>
        </li>
    </ul>
</div>
