<!-- Navigation for anonymous site visitors -->
<div ng-if="authService.isAnonymous()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li ng-class="{'selected' : selectedSubMenu == null}">
        <a href="#/">Home</a>
        </li>
    </ul>
</div>

<div class="box" ng-if="authService.isAnonymous()">
    <p>To publish a new ad, please login.</p>
    <a href="#/login" class="button">Login</a>
    <a href="#/register" class="button">Register</a>
</div>

<!-- Navigation box for logged in normal users (not admins) -->
<div ng-if="authService.isNormalUser()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li ng-class="{'selected' : selectedSubMenu == null}">
            <a href="#/">Home</a>
        </li>
        <li ng-click="subMenuClicked('MyAds')" ng-class="{'selected' : selectedSubMenu == 'MyAds'}">
            <a href="#/user/ads">My Ads</a>
        </li>
        <li ng-click="subMenuClicked('PublishNewAd')" ng-class="{'selected' : selectedSubMenu == 'PublishNewAd'}">
        <a href="#/user/ads/publish">Publish New Ad</a>
        </li>
        <li ng-click="subMenuClicked('EditProfile')" ng-class="{'selected' : selectedSubMenu == 'EditProfile'}">
        <a href="#/user/profile">Edit Profile</a>
        </li>
    </ul>
</div>

<!-- Navigation box for logged in admins -->
<div ng-if="authService.isAdmin()" class="box">
    <!-- TODO: implement the “Admin” navigation sidebar -->
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li ng-class="{'selected' : selectedSubMenu == null}">
        <a href="#/admin/home">Ads</a>
        </li>
        <li><a href="#/admin/users/list">Users</a>
        </li>
        <li><a href="#/admin/categories/list">Categories</a>
        </li>
        <li><a href="#/admin/towns/list">Towns</a>
        </li>
    </ul>
</div>

